# 12. Classes and Objects in Python

 * __Python is an object-oriented programming language.__
 * __Unlike procedure-oriented programming, where the main emphasis is on function, object-oriented programming stresses on objects.__
 * __An object is simply a collection of data(variable) and methods(functions) that act on those data.__
 * __Similarly, a class is a blueprint for that object.__
 * __Like function definitions begin with the def keyword in python, class definition begin with a class keyword.__
 * __The first string inside the class is called docstring and has a brief description of the class.__
 * __Although not mandatory, this is highly recommended.__


   * __class student:__   #class keyword
     
         * __School_name="ABC School"__    # class variable
         * __def__init__ __(self,name,age):__   # constructor to initialize instance variables.
         * __self.name=name__    # object instance
         * __self.age=age__       # object instance
   

   * __jessa=student("Rohini",14)__   # object with name
   * __print(jessa.name)__    # printing object.

In [2]:
class Data:
    num = 10

print(Data.num)

10

In [6]:
class person:
    first = "Uday"
    second = "Sheetal"
    third = "Rasal"
    forth="Ankteshwar"
    fith = "Amitabh"


print(person.first)
print(person.second)
print(person.third)

Uday
Sheetal
Rasal

In [8]:
class Male:
    first='Uday'


var = Male()
print(var.first)

Uday

In [13]:
class Data:
    def __init__(self,name,age,roll,subject):
        self.name = name
        self.age = age
        self.roll =roll
        self.subject =subject


obj1 =Data("Trupti Vijay Kupekar",45,45632,'Zoology')
print(obj1.name)
print(obj1.age)
print(obj1.roll)
print(obj1.subject)

Trupti Vijay Kupekar
45
45632
Zoology

In [20]:
obj2 = Data("Uday Sharad Rasal",50,7896541,'CS')
print(obj2.name)
print(obj2.age)
print(obj2.roll)
print(obj2.subject)

Uday Sharad Rasal
50
7896541
CS

In [16]:
print(obj1.name)
print(obj1.age)

Trupti Vijay Kupekar
45

In [24]:
class Data:
    def __init__(x,name,age,roll,subject):
        x.name = name
        x.age = age
        x.roll =roll
        x.subject =subject

    def details(x):
        print(f'Myself {x.name}.')
        print(f'I am {x.age}.')
        print(f'My roll no is {x.roll}')
        print(f'Subject is {x.subject}')


obj3 = Data('Trupti',27,789654,'CS')
obj3.details()

Myself Trupti.
I am 27.
My roll no is 789654
Subject is CS

In [25]:
obj4 = Data("Uday",10,12366554,'Bootany')
obj4.details()

Myself Uday.
I am 10.
My roll no is 12366554
Subject is Bootany

# Self parameter

 * __The Self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.__
 * __It does not have to be named self, you can call it whatever you like, but it has to be the first parameter of any function in the class.__

In [31]:
class Rectangle:
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth

    def area_Rectangle(self):
        area = self.length * self.breadth
        return f'Area of Rectangle is:',area,"cm²"


obj1= Rectangle(10,20)
print(obj1.area_Rectangle())

('Area of Rectangle is:', 200, 'cm²')

In [32]:
obj2 = Rectangle(20,100)
obj2.area_Rectangle()

('Area of Rectangle is:', 2000, 'cm²')

In [38]:
import math
class circle:
    def __init__(self,radius):
        self.radius=radius

    def circle_details(self):
        area = math.pi*self.radius*self.radius
        cir = 2*math.pi*self.radius
        print('Area of circle is:',area,'cm²')
        print('Circumference of circle:',cir,'cm')
        
circle1 = circle(10)
circle1.circle_details()

Area of circle is: 314.1592653589793 cm²
Circumference of circle: 62.83185307179586 cm

In [39]:
#1. Create a class: book, bookname, bookauthor,publishing_year = 15 books

# 2. create class animal
# conduct following criteria: 1. Kingdom, 2.Phylum or division, 3).class, 4)Order: 5) Family, 6) genes 7). species = 15 books

# 3. Create a class cylinder calculate area, total surface area, surface area.

In [40]:
# single inheritance,
# Multiple Inheritance
# Multilevel Inheritance
# Hybrid Inheritance.
# Hierarchical Inheritance.

In [ ]:
class Book:
    def __init__(self,name,author,year):
        self.name = name
        self.author = author
        self.year = year

    def details(self):
        print(f'Book name is {self.name}.')
        print(f'Author name is {self.author}.')
        print(f'Book published in year {self.year}.')

Comic = Book('Tenali Rama' , 'C. L. L. Jayaprada', 2001)
Comic.details()