# 12. Classes and Objects in Python

 * __Python is an object-oriented programming language.__
 * __Unlike procedure-oriented programming, where the main emphasis is on function, object-oriented programming stresses on objects.__
 * __An object is simply a collection of data(variable) and methods(functions) that act on those data.__
 * __Similarly, a class is a blueprint for that object.__
 * __Like function definitions begin with the def keyword in python, class definition begin with a class keyword.__
 * __The first string inside the class is called docstring and has a brief description of the class.__
 * __Although not mandatory, this is highly recommended.__


   * __class student:__   #class keyword
     
         * __School_name="ABC School"__    # class variable
         * __def__init__ __(self,name,age):__   # constructor to initialize instance variables.
         * __self.name=name__    # object instance
         * __self.age=age__       # object instance
   

   * __jessa=student("Rohini",14)__   # object with name
   * __print(jessa.name)__    # printing object.

In [2]:
class Data:
    num = 10

print(Data.num)

10

In [6]:
class person:
    first = "Uday"
    second = "Sheetal"
    third = "Rasal"
    forth="Ankteshwar"
    fith = "Amitabh"


print(person.first)
print(person.second)
print(person.third)

Uday
Sheetal
Rasal

In [8]:
class Male:
    first='Uday'


var = Male()
print(var.first)

Uday

In [13]:
class Data:
    def __init__(self,name,age,roll,subject):
        self.name = name
        self.age = age
        self.roll =roll
        self.subject =subject


obj1 =Data("Trupti Vijay Kupekar",45,45632,'Zoology')
print(obj1.name)
print(obj1.age)
print(obj1.roll)
print(obj1.subject)

Trupti Vijay Kupekar
45
45632
Zoology

In [20]:
obj2 = Data("Uday Sharad Rasal",50,7896541,'CS')
print(obj2.name)
print(obj2.age)
print(obj2.roll)
print(obj2.subject)

Uday Sharad Rasal
50
7896541
CS

In [16]:
print(obj1.name)
print(obj1.age)

Trupti Vijay Kupekar
45

In [24]:
class Data:
    def __init__(x,name,age,roll,subject):
        x.name = name
        x.age = age
        x.roll =roll
        x.subject =subject

    def details(x):
        print(f'Myself {x.name}.')
        print(f'I am {x.age}.')
        print(f'My roll no is {x.roll}')
        print(f'Subject is {x.subject}')


obj3 = Data('Trupti',27,789654,'CS')
obj3.details()

Myself Trupti.
I am 27.
My roll no is 789654
Subject is CS

In [25]:
obj4 = Data("Uday",10,12366554,'Bootany')
obj4.details()

Myself Uday.
I am 10.
My roll no is 12366554
Subject is Bootany

# Self parameter

 * __The Self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.__
 * __It does not have to be named self, you can call it whatever you like, but it has to be the first parameter of any function in the class.__

In [31]:
class Rectangle:
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth

    def area_Rectangle(self):
        area = self.length * self.breadth
        return f'Area of Rectangle is:',area,"cm²"


obj1= Rectangle(10,20)
print(obj1.area_Rectangle())

('Area of Rectangle is:', 200, 'cm²')

In [32]:
obj2 = Rectangle(20,100)
obj2.area_Rectangle()

('Area of Rectangle is:', 2000, 'cm²')

In [38]:
import math
class circle:
    def __init__(self,radius):
        self.radius=radius

    def circle_details(self):
        area = math.pi*self.radius*self.radius
        cir = 2*math.pi*self.radius
        print('Area of circle is:',area,'cm²')
        print('Circumference of circle:',cir,'cm')
        
circle1 = circle(10)
circle1.circle_details()

Area of circle is: 314.1592653589793 cm²
Circumference of circle: 62.83185307179586 cm

In [39]:
#1. Create a class: book, bookname, bookauthor,publishing_year = 15 books

# 2. create class animal
# conduct following criteria: 1. Kingdom, 2.Phylum or division, 3).class, 4)Order: 5) Family, 6) genes 7). species = 15 books

# 3. Create a class cylinder calculate area, total surface area, surface area.

In [40]:
# single inheritance,
# Multiple Inheritance
# Multilevel Inheritance
# Hybrid Inheritance.
# Hierarchical Inheritance.

In [1]:
class Book:
    def __init__(self,name,author,year):
        self.name = name
        self.author = author
        self.year = year

    def details(self):
        print(f'Book name is {self.name}.')
        print(f'Author name is {self.author}.')
        print(f'Book published in year {self.year}.')

Comic = Book('Tenali Rama' , 'C. L. L. Jayaprada', 2001)
Comic.details()

Book name is Tenali Rama.
Author name is C. L. L. Jayaprada.
Book published in year 2001.

# Inheritance 

 * __Simple(Single) Inheritance:(Parent and child class)__
 * __Multilevel Inheritance: (Parent/Child-Child)__
 * __Multiple Inheritance: (Parent class/Parent class- Child class)__
 * __Hierarchical Inheritance: (Parent class-Child class/Child class)__
 * __Hybrid Inheritance__

In [4]:
# single Inheritance:

class a:    # parent
    brand_name_1 = "Amazon"
    brand_name_2="Flipkart"
    brand_name_3 = "Myntra"

class b(a):   # child
    prod_1 = "Online Commerce Store"
    prod_2 = "Online Store"
    prod_3 = 'E-commerce Store'

obj1 = b()
print(obj1.brand_name_1+" is an "+obj1.prod_1)
print(obj1.brand_name_1+" is an "+obj1.prod_2)

Amazon is an Online Commerce Store
Amazon is an Online Store

In [8]:
# Multilevel Inheritance: Parent class/child class/grand child

class a:    # parent
    brand_name_1 = "Amazon"
    brand_name_2="Flipkart"
    brand_name_3 = "Myntra"

class b(a):   # b is a child of a
    prod_1 = "Online Commerce Store"
    prod_2 = "Online Store"
    prod_3 = 'E-commerce Store'


class c(b):  # c is a child of b
    popularity_1 = "100"
    popularity_2 = '200'
    popularity_3 = "300"

obj_1 = c()

print(obj_1.brand_name_1+' is an '+obj_1.prod_1+" and it's popularity is: "+obj_1.popularity_1)

Amazon is an Online Commerce Store and it's popularity is: 100

In [12]:
# Multiple Inheritance:

class a:    # parent
    brand_name_1 = "Amazon"
    brand_name_2="Flipkart"
    brand_name_3 = "Myntra"

class b:    # parent
    prod_1 = "Online Commerce Store"
    prod_2 = "Online Store"
    prod_3 = 'E-commerce Store'


class c(a,b):   # child
    popularity_1 = "100"
    popularity_2 = '200'
    popularity_3 = "300"

obj2 = c()

print(obj2.brand_name_1+' is an '+obj2.prod_1+" and It's populairyt is:"+obj2.popularity_1)

Amazon is an Online Commerce Store and It's populairyt is:100

In [17]:
# Hierarchical Inheritance:

class a: # parent   
    brand_name_1 = "Amazon"
    brand_name_2="Flipkart"
    brand_name_3 = "Myntra"

class b(a): # b is the child of a   
    prod_1 = "Online Commerce Store"
    prod_2 = "Online Store"
    prod_3 = 'E-commerce Store'


class c(a):  # c is the child of a  
    popularity_1 = "100"
    popularity_2 = '200'
    popularity_3 = "300"

class d(a):   # d is the child of a
    prod_value_1 = "Best Value"
    prod_value_2 = "Good value"
    prod_value_3 = "Better Value"

obj1 = b()
obj2 = c()
obj3 = d()

print(obj1.brand_name_1+' is an '+obj1.prod_1+' and its popularity is:'+obj2.popularity_1+" and its value is:"+obj3.prod_value_1)

Amazon is an Online Commerce Store and its popularity is:100 and its value is:Best Value

In [24]:
# hybrid inheritance

class a:
    def name_a(self):
        return('Karan Johar')

class b:
    def name_b(self):
        return("Orry")


class c(a):
    def name_c(self):
        return("Yash and Roohi")

class d(b,c):
    def name_d(self):
        return('Final Product')


obj1 = d()
print(obj1.name_b())
print(obj1.name_a())
print(obj1.name_c())
print(obj1.name_d())

Orry
Karan Johar
Yash and Roohi
Final Product

# 4 Method of OOPS Concept

 * __1. Inheritance__
 * __2. Ploymorphism__
 * __3. Encapsulation__
 * __4. Data Abstraction__

 * __1.Inheritance(Mom And Daughter): Some property of mom inherits by her daughter.__
 * __2.Ploymorphism(child): In school behave like student, In home behave like son or daughter, In Bus behave like passenger, In shop behave like customer, In hospital behave like patients.__
 * __3.Encapsulation: School bag can keep books, pencil, pen, sharpner, eraser, LunchBox, Instrument Box.(Protecting or data).__
 * __Data Abstractions: ATM, Check Balance, Deposite cash, withdraw cash, print statement, (Hiding our irrelevant data).__

In [29]:
# Inhertance

class parent:
    def parent_method(self):
        print('Hello world')
        print('Hi,Python')

class child(parent):
    def parent_method(self):
        print('Hello Im calling child class.')

x = child()
x.parent_method()

Hello Im calling child class.

In [30]:
y = parent()
y.parent_method()

Hello world
Hi,Python

In [33]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

class person2:
    def __init__(self,name,age,address):
        self.name=name
        self.age=age
        self.address=address

obj1=person('Rasal',22)
print(obj1.name)
print(obj1.age)

print("----------------------------------------------")
obj2=person2('Ashish',40,'Pune')
print(obj2.name)
print(obj2.age)
print(obj2.address)

Rasal
22
----------------------------------------------
Ashish
40
Pune

In [40]:
class animal:
    def __init__(self,name,breed,color,food):
        self.name=name
        self.breed=breed  
        self.color=color
        self.food=food

class animal1(animal):
    def __init__(self,name,breed,color,food, size):
        super().__init__(name,breed,color,food)
        self.size = size

    def details(self):
        print(f'My Animal name is {self.name}')
        print(f'Animal Breed is {self.breed}')
        print(f'Its color is {self.color}')
        print(f'Its size is {self.size}')

obj1 = animal1('Tommy',"Labrador","Black","Vegetarian","Short")
# print(obj1.name)
# print(obj1.breed)
# print(obj1.color)
# print(obj1.food)
# print(obj1.size)
obj1.details()

My Animal name is Tommy
Animal Breed is Labrador
Its color is Black
Its size is Short

In [44]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age =age


class person1(person):
    def __init__(self,name,age,address):
        super().__init__(name,age)
        self.address = address


class person2(person1):
    def __init__(self,name,age,address,hobby):
        super().__init__(name,age,address)
        self.hobby = hobby


obj1 = person2('Truputi',55,'Pune','Badminton')
print(obj1.name)
print(obj1.age)
print(obj1.address)
print(obj1.hobby)

Truputi
55
Pune
Badminton

In [47]:
import math
class cylinder:
    def __init__(self,radius,height):
        self.radius = radius
        self.height = height

    def cylinder_details(self):
        curved_surface_area = 2*math.pi*self.radius*self.height,'Cm²'
        total_surface_area = 2*math.pi*self.radius*(self.radius + self.height),'Cm²'
        volume = math.pi*self.radius**2*self.height
        print('Curved Surface Area of Cyliner is:',curved_surface_area)
        print('Total Surface Area of Cyliner is:',total_surface_area)


obj =cylinder(5,10)
obj.cylinder_details()

Curved Surface Area of Cyliner is: (314.1592653589793, 'Cm²')
Total Surface Area of Cyliner is: (471.23889803846896, 'Cm²')