# 14. Lambda Functions in python

 * __A Lambda function is a small anonymous functions.__
 * __A Lambda function can take any number as argument, but can only have one expressions.__
 * __The expression is evaluated and returned.__
 * __Lambda functions can be used wherever function objects are required.__
 * __Lambda Expression(or lambda fucntions) are essentially blocks of code that can be assigned to variable, passed as an arguments, or returned from a function call, In Language that support high-order functions.__
 * __The main role of the lambda fucntion is better described in the scenarios when we employ them anonymously inside another functiions.__
 * __n Python, the Lamnda function can be utilized as an arguments to the higher-order functions as an arugments.__
 * __Lambda function in Python.__
    * __1.Syntax.__
      * __Normal Functions__
      * __Anonymous Functions__
    * __2. Usages__
      * __Lambda with filters()__
      * __Lambda with map()__
      * __Lambda with reduce()__
      * __Lambda with sorted()__
      * __Lambda with apply()__
    * __3 Common Errors__
      * __SyntaxError__
      * __TypeError__

In [1]:
def func(x):
    return x+6

func(10)

16

In [2]:
# using lambda 

(lambda y:y+6)(10)

16

In [4]:
def expo(x,y):
    return x**y

expo(2,3)

8

In [7]:
# using lamdba 

trup=(lambda x1,y1:x1**y1)(2,3)
trup

8

In [6]:
expo(4,2)

16

In [8]:
trup

8

In [9]:
def func1():
    x = int(input('Enter first Number:'))
    y = int(input('Enter second Number:'))
    z = x**y
    return z
func1()

Enter first Number: 2
Enter second Number: 4

16

In [10]:
x = int(input('Enter first Number:'))
y = int(input('Enter second Number:'))
(lambda a,b:a**b)(x,y)

Enter first Number: 5
Enter second Number: 6

15625

In [15]:
# 1. Write a Python program to count even number and odd numbers in a given array of integers using function and loop.
# array = [10,20,30,50,25,26,78,79,45,62,53,51,1001,102,103]

array = [10,20,30,50,25,26,78,79,45,62,53,51,1001,102,103]

even = []
odd = []

for i in array:
    if i%2==0:
        even.append(i)
        # print(i)
    else:
        odd.append(i)

print("Even numbers is:",even,'\nOdd numbers is:',odd)

Even numbers is: [10, 20, 30, 50, 26, 78, 62, 102]
Odd numbers is: [25, 79, 45, 53, 51, 1001, 103]

In [20]:
array = [10,20,30,50,25,26,78,79,45,62,53,51,1001,102,103]

even_num=list(filter(lambda x:(x%2==0),array))
print(even_num)
odd_num=list(filter(lambda y:(y%2!=0),array))
print(odd_num)

[10, 20, 30, 50, 26, 78, 62, 102]
[25, 79, 45, 53, 51, 1001, 103]

In [24]:
# Write a Python program to filter a given list to determine if the value in the list have length of 6 with lambda function.
# Using for loop and 

weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]


filter_data = []

for i in weekdays:
    if len(i) == 6:
        filter_data.append(i)
print(filter_data)

['Monday', 'Friday', 'Sunday']

In [25]:
filter_list = list(filter(lambda x:len(x)==6,weekdays))

filter_list

['Monday', 'Friday', 'Sunday']

# Lambda Filter()

 * __A higher-order function__
 * __Syntax:filter(function,sequence)__
    * __It applies function to each element of sequence and returns for which the funciton returns true.__
 * __filter returns a subset of sequence__
    * __To generate the actual list, we need to apply list.__

In [7]:
def isDiv3(x):
    return x%3==0
def isEven(x):
    return x%2==0

obj1 = isDiv3(21)
print(obj1)

obj2 = isEven(10)
print(obj2)

True
True

In [8]:
list(filter(isEven, range(1,31)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [11]:
list(filter(isDiv3,range(10,45)))

[12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [19]:
# write a function to check words is in capital or not?  "Trupti Vijay Kupekar" = title

tup = ('Trupti',"Babli","Akansha","Binod","Shankar","puja",'kupekar','rohit','ghatkoper','marine drive','Abhishek')
print(tup)

('Trupti', 'Babli', 'Akansha', 'Binod', 'Shankar', 'puja', 'kupekar', 'rohit', 'ghatkoper', 'marine drive', 'Abhishek')

In [17]:
def isCaps(s):
    return "A"<= s[0] <="Z" 

x = isCaps('Trupti')
x

True

In [21]:
x1 = list(filter(isCaps,('Trupti',"Babli","Akansha","Binod","Shankar","puja",'kupekar','rohit','ghatkoper','marine drive','Abhishek')))
x1

['Trupti', 'Babli', 'Akansha', 'Binod', 'Shankar', 'Abhishek']

In [42]:
# waf to take range from user input and find their sequar of the number.

# 10-- 1,4,9----------------------------------



def square(x2):
    sqr_list=[]
    for i in range(1,x2+1):
        y= i**2
        # return y
        sqr_list.append(y)
        # print(i)
    print('Square List is:',sqr_list)

x1 = int(input('Enter your range:'))
square(x1)

Enter your range: 10

Square List is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
def square1(x2):
    list1 = []
    for i in range(1,x2+1):
        y2 = i**2
        list1.append(y2)
    print(list1)
square1(z)

NameError: name 'z' is not defined

In [47]:
a2 = int(input('Enter your range:'))
a1 = list(filter(square,range(1,a2+1)))
a1

Enter your range: 10

Square List is: [1]
Square List is: [1, 4]
Square List is: [1, 4, 9]
Square List is: [1, 4, 9, 16]
Square List is: [1, 4, 9, 16, 25]
Square List is: [1, 4, 9, 16, 25, 36]
Square List is: [1, 4, 9, 16, 25, 36, 49]
Square List is: [1, 4, 9, 16, 25, 36, 49, 64]
Square List is: [1, 4, 9, 16, 25, 36, 49, 64, 81]
Square List is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[]

In [48]:
def square2(x):
    return x**2

In [49]:
y = int(input('Enter any number:'))
list(map(square2,range(1,y+1)))

Enter any number: 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# map() functions

 * __A high-order functions__
 * __syntax: map(function, sequence)__
 * __It applies function to each element of sequecne and return the result.__

In [53]:
a = [1,20,50,55,69,58,78,96,36,25,10]

def myfunc(z):  # using filter. and find thier square of the number.
    if z%2!=0:
        return True
    else:
        return False

val = list(filter(myfunc,a)) 
print(val)

def cube(a):
    return a**3

sqr = list(map(square2,val))
print(sqr)


cube = list(map(cube,val))
print(cube)


def triple(z1):
    return 3*z1


trip = list(map(triple,val))
print(trip)

[1, 55, 69, 25]
[1, 3025, 4761, 625]
[1, 166375, 328509, 15625]
[3, 165, 207, 75]

# reduce()

 * __Required: from functools import reduce__
 * __syntax:reduce(function,seq)__
 * __reduce,continually applies the reduce(function,sequence). It returns a single value.__

In [54]:
from functools import reduce

In [55]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [58]:
# reduce: small value returnd

def add(x,y):
    return x+y   #3,6,10,20,40,90


x1 = reduce(add,[1,2,3,4,10,20,50])  # single value returned 
x1

90

In [60]:
# reduce: small value returnd

def subtract(x,y):
    return x-y   


x1 = reduce(subtract,[1,2,3,4,10,20,50])  # single value returned 
x1

-88

In [61]:
# range 
def multi(x,y):
    return x*y


def misti(n):
    return reduce(multi,range(1,n+1))   #1,2,3,4,5,6,7,8,9,10
misti(10)

3628800

# Lambda with sorted()

# Sorted Function in Lambda

 * __A simple ascending sort is very easy. Just call the sorted() functions. It returns a new list.__

In [63]:
# arranged in ascending order using sorted function

x = [5,2,4,1,3,7]

y = sorted(x)
y

[1, 2, 3, 4, 5, 7]

In [64]:
x = [5,2,4,1,3,7]

x.sort()
x

[1, 2, 3, 4, 5, 7]

In [71]:
# Dictianry

students = [
    ('Trupti','A',15),
    ('Priya','C',12),
    ('Komal','B',20)
]
students

[('Trupti', 'A', 15), ('Priya', 'C', 12), ('Komal', 'B', 20)]

In [72]:
type(students[0])

tuple

In [73]:
type(students)

list

In [74]:
sorted(students,key=lambda students:students[2])

[('Priya', 'C', 12), ('Trupti', 'A', 15), ('Komal', 'B', 20)]

In [75]:
sorted(students,key=lambda students:students[1])

[('Trupti', 'A', 15), ('Komal', 'B', 20), ('Priya', 'C', 12)]

In [76]:
sorted(students,key=lambda students:students[0])

[('Komal', 'B', 20), ('Priya', 'C', 12), ('Trupti', 'A', 15)]

In [2]:
class person:
    def __init__(self,name,age,grade,gender):
        self.name=name
        self.age=age
        self.grade=grade
        self.gender=gender


    def __repr__(self):
        return repr((self.name,self.age,self.gender,self.grade))



obj1 = person('Trupti',26,"A","Female")
obj1.name

'Trupti'

In [3]:
student1 = [
    person('Trupti',26,'A','Female'),
    person('Srinivash',45,'C',"Male"),
    person('Uday',12,'D','Male'),
    person('Pallavi',40,'B','Female')
]
student1

[('Trupti', 26, 'Female', 'A'),
 ('Srinivash', 45, 'Male', 'C'),
 ('Uday', 12, 'Male', 'D'),
 ('Pallavi', 40, 'Female', 'B')]

In [4]:
sorted(student1,key=lambda person:person.name)

[('Pallavi', 40, 'Female', 'B'),
 ('Srinivash', 45, 'Male', 'C'),
 ('Trupti', 26, 'Female', 'A'),
 ('Uday', 12, 'Male', 'D')]

In [5]:
sorted(student1,key=lambda person:person.age)

[('Uday', 12, 'Male', 'D'),
 ('Trupti', 26, 'Female', 'A'),
 ('Pallavi', 40, 'Female', 'B'),
 ('Srinivash', 45, 'Male', 'C')]

In [6]:
sorted(student1,key=lambda person:person.grade)

[('Trupti', 26, 'Female', 'A'),
 ('Pallavi', 40, 'Female', 'B'),
 ('Srinivash', 45, 'Male', 'C'),
 ('Uday', 12, 'Male', 'D')]

In [7]:
sorted(student1,key=lambda person:person.gender)

[('Trupti', 26, 'Female', 'A'),
 ('Pallavi', 40, 'Female', 'B'),
 ('Srinivash', 45, 'Male', 'C'),
 ('Uday', 12, 'Male', 'D')]

# Lambda with apply()

In [8]:
import pandas as pd

In [9]:
student1 = [
    person('Trupti',26,'A','Female'),
    person('Srinivash',45,'C',"Male"),
    person('Uday',12,'D','Male'),
    person('Pallavi',40,'B','Female')
]
student1

[('Trupti', 26, 'Female', 'A'),
 ('Srinivash', 45, 'Male', 'C'),
 ('Uday', 12, 'Male', 'D'),
 ('Pallavi', 40, 'Female', 'B')]

In [15]:
student1 = [
    ('Trupti',26,'A','Female'),
    ('Srinivash',45,'C',"Male"),
    ('Uday',12,'D','Male'),
    ('Pallavi',40,'B','Female')
]
student1
df = pd.DataFrame(student1,columns=['Name','Age','Gender',"Section"])
df

        Name  Age Gender Section
0     Trupti   26      A  Female
1  Srinivash   45      C    Male
2       Uday   12      D    Male
3    Pallavi   40      B  Female

In [17]:
import numpy as np

In [18]:
import pandas as pd

In [19]:
values_list = [[15,2.5,100],[20,4.5,50],[25,5.5,80],[45,5.8,48],[40,6.3,70],[41,6.4,90],[51,2.3,111]]
print(values_list)

[[15, 2.5, 100], [20, 4.5, 50], [25, 5.5, 80], [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90], [51, 2.3, 111]]

In [20]:
df = pd.DataFrame(values_list)
df

    0    1    2
0  15  2.5  100
1  20  4.5   50
2  25  5.5   80
3  45  5.8   48
4  40  6.3   70
5  41  6.4   90
6  51  2.3  111

In [32]:
df2 = df.apply(lambda x:x*2)
df2

     0     1    2
0   30   5.0  200
1   40   9.0  100
2   50  11.0  160
3   90  11.6   96
4   80  12.6  140
5   82  12.8  180
6  102   4.6  222