# 3. Lists in python

 * __Lists are ordered.__
 * __Lists can contains any arbitrary objects.__
 * __Lists elements can be accessed by index value.__
 * __Lists can be nested to any arbitrary depth.__
 * __Lists are mutable data type in python.__
 * __Lists are dynamic.__

In [1]:
# Creating a list in python

nlis=[]
print(nlis)

[]

In [2]:
print(type(nlis))

<class 'list'>

In [3]:
# single element as a list.

nlis=[1]
print(nlis)
print(type(nlis))

[1]
<class 'list'>

In [4]:
tup = ()
print(tup)

()

In [5]:
print(type(tup))

<class 'tuple'>

In [6]:
tup1=(1)
print(tup1)
print(type(tup1))

1
<class 'int'>

In [7]:
# list

# sting
# integer
# float
# boolean
# nested list
# nested tuple
# nested set
# nested dictionary
# other data structure.

In [9]:
list1 =['Python',200,3.147,True,False,['Hello world','hey python',10,50.20],('True',True),{1,2,3,4,5},{'a':'Uday','b':"Trupti",'c':"Vinod"}]

print(list1)
print(type(list1))

['Python', 200, 3.147, True, False, ['Hello world', 'hey python', 10, 50.2], ('True', True), {1, 2, 3, 4, 5}, {'a': 'Uday', 'b': 'Trupti', 'c': 'Vinod'}]
<class 'list'>

In [13]:
# Accessing element of the list
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])
print(list1[5])

Python
200
3.147
True
False
['Hello world', 'hey python', 10, 50.2]

In [14]:
# Negative index 
print(list1[-1])

{'a': 'Uday', 'b': 'Trupti', 'c': 'Vinod'}

In [15]:
list1

['Python',
 200,
 3.147,
 True,
 False,
 ['Hello world', 'hey python', 10, 50.2],
 ('True', True),
 {1, 2, 3, 4, 5},
 {'a': 'Uday', 'b': 'Trupti', 'c': 'Vinod'}]

In [18]:
# With the help slicing.
print(list1[:5])   # colon
print(list1[5:6])

['Python', 200, 3.147, True, False]
[['Hello world', 'hey python', 10, 50.2]]

In [22]:
list1[5][1:2]

['hey python']

In [23]:
list1

['Python',
 200,
 3.147,
 True,
 False,
 ['Hello world', 'hey python', 10, 50.2],
 ('True', True),
 {1, 2, 3, 4, 5},
 {'a': 'Uday', 'b': 'Trupti', 'c': 'Vinod'}]

In [24]:
# lenght of the list.
len(list1)

9

In [25]:
# CRUD-[Create,Read,Update,Delete]->Mutable
list2 = [10,20,30,50,60,70,'Hello']
# to add element inside the list we have three methods [append,extend,insert]
# append-one by one.
# extend - multiple parameter at one time.
# insert-it takes only two parameter at one time,position, element.
list2

[10, 20, 30, 50, 60, 70, 'Hello']

In [26]:
list2.append("Good Evening")
list2

[10, 20, 30, 50, 60, 70, 'Hello', 'Good Evening']

In [27]:
list2.append('Good Evening',2)

TypeError: list.append() takes exactly one argument (2 given)

In [29]:
# insert:
list2.insert(0,"Good Morning")

In [30]:
list2

['Good Morning', 10, 20, 30, 50, 60, 70, 'Hello', 'Good Evening']

In [31]:
list2.insert(0,100)

In [32]:
list2

[100, 'Good Morning', 10, 20, 30, 50, 60, 70, 'Hello', 'Good Evening']

In [33]:
list2.insert(0,200,500)

TypeError: insert expected 2 arguments, got 3

In [34]:
# Extend() method
list2

[100, 'Good Morning', 10, 20, 30, 50, 60, 70, 'Hello', 'Good Evening']

In [35]:
list2.extend(['Anpurna',"Anup","Uday","Rasal",78])

[100,
 'Good Morning',
 10,
 20,
 30,
 50,
 60,
 70,
 'Hello',
 'Good Evening',
 'Anpurna',
 'Anup',
 'Uday',
 'Rasal',
 78]

In [36]:
print(list2)

[100, 'Good Morning', 10, 20, 30, 50, 60, 70, 'Hello', 'Good Evening', 'Anpurna', 'Anup', 'Uday', 'Rasal', 78]

In [46]:
#count(),index(),max(),min(),sum(),average() method

list3 =[1,1,1,1,2,2,2,2,3,3,5,5,5,5,8,8,8,8,8]
print('List element:',list3)

#count()
print(list3.count(1))
print(list3.count(8))

# max()
print(max(list3))  # max(list3)
print(min(list3))

# sum()
print(sum(list3))

# average of list
print(sum(list3)/len(list3))
print(len(list3))


# index()
print(list3.index(2))

List element: [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 5, 5, 5, 5, 8, 8, 8, 8, 8]
4
5
8
1
78
4.105263157894737
19
4

In [48]:
# changing an element inside the list.
x3 = ["Python",3.14,50]
x3[0] = "Uday"
x3

['Uday', 3.14, 50]

In [50]:
x3[2] = 100
x3

['Uday', 3.14, 100]

In [51]:
# Deleting an element
# del() method
x3

['Uday', 3.14, 100]

In [52]:
del(x3[0])

In [53]:
x3

[3.14, 100]

In [54]:
del(x3)

In [55]:
x3

NameError: name 'x3' is not defined

In [57]:
# Copy() method of the list.

# shallow copy = shallow copy
# deep copy  =  Deep copy
# -------------------------------------------

x3 = ['python',3.14,10,20]

print(x3)
print(type(x3))


print(x4)

['python', 3.14, 10, 20]
<class 'list'>

NameError: name 'x4' is not defined

In [60]:
# shallow copy
x4 = x3.copy()
x4

# adding an element
x4.append('Cat')
print(x4)

['python', 3.14, 10, 20, 'Cat']

In [61]:
x3

['python', 3.14, 10, 20]

In [63]:
# Deep copy()

x5 = ['Python','Hello']
print(x5)

x6 = x5
print(x6)   # deep copy

['Python', 'Hello']
['Python', 'Hello']

In [64]:
x6.append('Trupti')
x6

['Python', 'Hello', 'Trupti']

In [65]:
x5

['Python', 'Hello', 'Trupti']

In [69]:
# input() function: With the help of input function you are able to take input from the user.

x1=input()
print(x1)
print(type(x1))   # string

 Hello

Hello
<class 'str'>

In [71]:
x1 = int(input('Enter any value:'))
print(x1)
print(type(x1))

Enter any value: 100

100
<class 'int'>

In [72]:
x2 = float(input('Enter any value:'))
print(x2)
print(type(x2))

Enter any value: 100

100.0
<class 'float'>

In [78]:
# program find the sum of two value from user input

x1=float(input('Enter first value:'))
x2 = float(input('Enter second value:'))
x3 = x1+x2
print("Sum of the two value is:",x3)

Enter first value: 500.66
Enter second value: 896.235886

Sum of the two value is: 1396.895886

In [81]:
# format() function
# This function helps to format the output printed on the screen with good look and attractive.

a = float(input('Enter the first value:'))
b= float(input('Enter second value:'))
total = a+b
print(total)
print('Sum of {} and {} is {}'.format(a,b,total))

Enter the first value: 110
Enter second value: 220

330.0
Sum of 110.0 and 220.0 is 330.0

In [87]:
a = input('Enter your favourite fruits:')
b = input('Enter your favourite dish:')
print('I like {} and {}'.format(a,b))
print('I like {} and {}.'.format(b,a))
print('I like {0} and {1}'.format(a,b))
print("I like {1} and {0}".format(b,a))

Enter your favourite fruits: Mango
Enter your favourite dish: apple

I like Mango and apple
I like apple and Mango.
I like Mango and apple
I like Mango and apple

In [90]:
# eval()

a1 = "4+5"
print(a1)
print(type(a1))

4+5
<class 'str'>

In [91]:
a2 = eval(a1)
print(a2)
print(type(a2))

9
<class 'int'>