# 4. Tuples in Python
 * __Tuples are immutable lists and can not be changed in any way when once it is created.__
 * __Tuples are defined in the same way as lists.__
 * __Tuples are enclosed with parenthesis and not in square brackets.__
 * __Tuples are ordered.__
 * __Similar to the sting indices, the first value of tuples will have the index[0], the second value [1].__
 * __Negative indices are counted from the end of the tupole, just like lists.__
 * __Tuple can store duplicate value.__
 * __Tuples allows you to store several data items including string, integer, float in one variable.__

In [1]:
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [3]:
# single element as a tuple

tup2 = ("Hello")
print(tup2)
print(type(tup2))

Hello
<class 'str'>

In [4]:
tup2 = ("Hello",)
print(tup2)
print(type(tup2))

('Hello',)
<class 'tuple'>

In [5]:
# sting,
# float
# integer,
# boolean
# nested list
# nested tuple
# nested set
# nested dict
# other data structure

In [6]:
tup2 = ('Python',3.147,100,True,False,['hey python',100],(20,30,555),{10,20,30,50,40},{'a':45,"b":'Hello'})
tup2

('Python',
 3.147,
 100,
 True,
 False,
 ['hey python', 100],
 (20, 30, 555),
 {10, 20, 30, 40, 50},
 {'a': 45, 'b': 'Hello'})

In [10]:
print(type(tup2[0]))
print(type(tup2[1]))
print(type(tup2[2]))
print(type(tup2[3]))
print(type(tup2[4]))
print(type(tup2[5]))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'list'>

In [12]:
print(type(tup2[-1]))
print(type(tup2[-2]))

<class 'dict'>
<class 'set'>

In [13]:
# Concatenation of the tuple

tup1 = ('Hello world',)

tup2 = (100,200)

print(tup1+tup2)

('Hello world', 100, 200)

In [14]:
# Repetation of tuple

4*"Hello world"

'Hello worldHello worldHello worldHello world'

In [15]:
tup2 = ('Python',3.147,100,True,False,['hey python',100],(20,30,555),{10,20,30,50,40},{'a':45,"b":'Hello'})
tup2

('Python',
 3.147,
 100,
 True,
 False,
 ['hey python', 100],
 (20, 30, 555),
 {10, 20, 30, 40, 50},
 {'a': 45, 'b': 'Hello'})

In [19]:
print(tup2[5][0])
type(tup2[5][0])

hey python

str

In [22]:
tup2[7][0]

TypeError: 'set' object is not subscriptable

In [23]:
# it is immutable data tuple:
tuple1= (10,20,30,40)
tuple1.append(100)
tuple1

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
print(tuple1)
tuple1[0] = 100

print(tuple1)

(10, 20, 30, 40)

TypeError: 'tuple' object does not support item assignment

In [26]:
list1 = [10, 20]
print(list1)

[10, 20]

In [27]:
list1[0] = 100
list1

[100, 20]

In [30]:
tuple1

(10, 20, 30, 40)

In [31]:
del(tuple1[0])

TypeError: 'tuple' object doesn't support item deletion

In [32]:
del(tuple1)

In [33]:
tuple1

NameError: name 'tuple1' is not defined

In [37]:
# sorting an element.
# ascending, descending 
tuple_1 =(0,10,20,30,55,89,75,889) # ascending order
print(tuple_1)
print(type(tuple_1))

# sorted()

sorted_tup = sorted(tuple_1)
print(sorted_tup)
print(type(sorted_tup))

(0, 10, 20, 30, 55, 89, 75, 889)
<class 'tuple'>
[0, 10, 20, 30, 55, 75, 89, 889]
<class 'list'>

In [40]:
# descending order.
print(sorted_tup)
tuple2= sorted_tup[::-1]
print(tuple2)

[0, 10, 20, 30, 55, 75, 89, 889]
[889, 89, 75, 55, 30, 20, 10, 0]