# 5.Sets in Python

 * __Set in one of the 4-build-in types in Python used to store collection of data including list, tuple and dictioanry.__

 * __Set are unordered, but you can remove items and add new items.__
 * __Set elements are unique. Duplicated elements are not allowed.__
 * __A set iteself may be modified, but the elements contained in the set must be of immutable type.__
 * __Sets are unsed to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets.{}.__

In [4]:
x = {}   # empty sets
print(x)
print(type(x))

{}
<class 'dict'>

In [5]:
# how to create empty sets.

# set() method

set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [7]:
set1 = {'Hello world','Python',3.147,2.718,True,False}
print(set1)

{False, True, 2.718, 3.147, 'Python', 'Hello world'}

In [8]:
print(type(set1))

<class 'set'>

In [12]:
list1 = ['Hello world','Python',3.147,2.718,True,False]
print(type(list1))
print(list1)

<class 'list'>
['Hello world', 'Python', 3.147, 2.718, True, False]

In [14]:
# converting list into set.

set2 = set(list1)  # it takes only one parameter at a time [variable,datatype].
set2

{2.718, 3.147, False, 'Hello world', 'Python', True}

In [15]:
tuple_1 = ('Hello world',100)

set4 = set(tuple_1)
print(set4)

{100, 'Hello world'}

# set operations

In [16]:
# append()
# insert()
# extend()

In [17]:
# add() method
# To add an element into a set, we use add() method. if the same element is added to the set, 
# nothing will happend beacuase the set accetps no duplicate.

set1 = {10,20,30,40,50}
print(set1)

{50, 20, 40, 10, 30}

In [18]:
set1.add(100)
print(set1)

{50, 20, 100, 40, 10, 30}

In [19]:
set1.add(100)
print(set1)

{50, 20, 100, 40, 10, 30}

In [20]:
set1.add('100')
print(set1)

{50, 20, 100, '100', 40, 10, 30}

In [23]:
set1.add('100.0')
print(set1)

{50, '100.0', 20, 100, '100', 40, 10, 30}

In [29]:
# updating() set element.

set4 = {6,7,8}

set5 = {10,20,30}

print(set4)
print(set5)

{8, 6, 7}
{10, 20, 30}

In [30]:
set4,set5

({6, 7, 8}, {10, 20, 30})

In [33]:
set5.update({10,20,30})
set5

{6, 7, 8, 10, 20, 30}

In [34]:
set5

{6, 7, 8, 10, 20, 30}

In [35]:
# remove() method

# To remove an element from the set.

set5

{6, 7, 8, 10, 20, 30}

In [36]:
set5[0]

TypeError: 'set' object is not subscriptable

In [37]:
set5.remove(10)
set5

{6, 7, 8, 20, 30}

In [38]:
# discard() method

set5

{6, 7, 8, 20, 30}

In [39]:
set5.remove(10)   # it through an error 
set5

KeyError: 10

In [41]:
set5.discard(8)
set5

{6, 7, 20, 30}

In [42]:
set5.discard(8)
set5

{6, 7, 20, 30}

In [43]:
# logic operations in sets.
set5

{6, 7, 20, 30}

In [44]:
set5.add(5,10)   # set()
set5

TypeError: set.add() takes exactly one argument (2 given)

In [48]:
# update() method
set5.update({10,20,30,40,50,60})
set5

{6, 7, 10, 20, 30, 40, 50, 60}

In [49]:
set5.update({100})
set5

{6, 7, 10, 20, 30, 40, 50, 60, 100}

In [50]:
# 1. Union
# 2. Intersection
# 3. Difference
# 4. symmetric Difference.

In [51]:
# Union

set1 = {'Hello world','Hello python',10,20,40,'Trupti'}
set2 = {10,20,30,'Babli','Uday','Ajinkya'}

set1,set2

({10, 20, 40, 'Hello python', 'Hello world', 'Trupti'},
 {10, 20, 30, 'Ajinkya', 'Babli', 'Uday'})

In [53]:
print(set1.union(set2))

{'Uday', 40, 'Hello python', 10, 'Ajinkya', 20, 'Hello world', 'Babli', 'Trupti', 30}

In [54]:
# Difference (Subtract) {a-b} {b-a}
print(set1)  # a
print(set2)  # b

{20, 'Hello world', 40, 'Hello python', 10, 'Trupti'}
{'Uday', 20, 'Ajinkya', 'Babli', 10, 30}

In [55]:
set1-set2   #{a-b}

{40, 'Hello python', 'Hello world', 'Trupti'}

In [56]:
# b-a  {b}   {'uday','Ajinkya','babli',30}

set2-set1

{30, 'Ajinkya', 'Babli', 'Uday'}

In [57]:
# 2nd method

# difference() method

set1.difference(set2)   # a-b

{40, 'Hello python', 'Hello world', 'Trupti'}

In [58]:
set2.difference(set1)

{30, 'Ajinkya', 'Babli', 'Uday'}

In [59]:
# To find the intersection

print(set1,set2)

{20, 'Hello world', 40, 'Hello python', 10, 'Trupti'} {'Uday', 20, 'Ajinkya', 'Babli', 10, 30}

In [60]:
# {20,10}

set1.intersection(set2)

{10, 20}

In [61]:
# 2nd method to find intersection
inter = set1&set2
print(inter)

{10, 20}

In [62]:
# Symmetric Difference
print(set1)
print(set2)

{20, 'Hello world', 40, 'Hello python', 10, 'Trupti'}
{'Uday', 20, 'Ajinkya', 'Babli', 10, 30}

In [63]:
symmetric = set1.symmetric_difference(set2)
print(symmetric)

{'Hello python', 'Ajinkya', 'Trupti', 30, 'Uday', 40, 'Hello world', 'Babli'}

# min(),max(),sum(),len() function

In [69]:
nlis = [1,1,1,4,5,6,2,45,8,85,5,5,40]
set5 = {1,1,1,4,5,6,2,45,8,85,5,5,40}
print('Original List:',nlis)
print('Original Set:',set5)

print('Sum of the list:',sum(nlis))
print('Sum of the set:',sum(set5))
print('Minimum value of the list:',min(nlis))
print('Minimum value of the set:',min(set5))
print('Maximum value of the list:',max(nlis))
print('Maximum value of the set:',max(set5))
print('Length of the list:',len(nlis))
print('Lenght of the set:',len(set5))

Original List: [1, 1, 1, 4, 5, 6, 2, 45, 8, 85, 5, 5, 40]
Original Set: {1, 2, 4, 5, 6, 8, 40, 45, 85}
Sum of the list: 208
Sum of the set: 196
Minimum value of the list: 1
Minimum value of the set: 1
Maximum value of the list: 85
Maximum value of the set: 85
Length of the list: 13
Lenght of the set: 9

In [70]:
# immutable

set5 = {'Python',1,2,3,['Hello',3.14]}

TypeError: unhashable type: 'list'

In [71]:
set5

{1, 2, 4, 5, 6, 8, 40, 45, 85}

In [72]:
set5.index(5)

AttributeError: 'set' object has no attribute 'index'

In [76]:
set5

NameError: name 'set5' is not defined

In [74]:
del(set5)

In [75]:
set5

NameError: name 'set5' is not defined

In [77]:
set5 = {1, 2, 4, 5, 6, 8, 40, 45, 85}
set5

{1, 2, 4, 5, 6, 8, 40, 45, 85}

In [78]:
set5

{1, 2, 4, 5, 6, 8, 40, 45, 85}

In [79]:
print(set5)

{1, 2, 4, 5, 6, 8, 40, 45, 85}

In [80]:
set5.clear()

In [81]:
set5

set()

In [82]:
list1 = [10,20]
list1.clear()

In [83]:
list1

[]

In [84]:
set1 = {10,20,50,40}
set1

{10, 20, 40, 50}

In [85]:
set1.pop()
set1

{10, 20, 50}

In [86]:
set1

{10, 20, 50}

In [87]:
set1.pop()

10

In [88]:
set1

{20, 50}

In [89]:
set1 = {10,20,30,40,50,60,70,80}
set1.pop()

70

In [90]:
set1.pop()

40

In [91]:
set1

{10, 20, 30, 50, 60, 80}

In [92]:
list1 = [10, 20, 30, 50, 60, 80]
list1.pop()

80

In [93]:
list1.pop()

60

In [94]:
list1.pop()

50