In [1]:
range(10)    # 1

range(0, 10)

In [2]:
range(50)

range(0, 50)

In [4]:
range(-10)

range(0, -10)

In [5]:
range(1000)

range(0, 1000)

In [7]:
range(10,100)

range(10, 100)

In [8]:
for i in range(10):  #0,1,2,3,4,5,6,7,8,9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(10):
    print(i,end=' ')   # delimeter= ,' ', * , -

0 1 2 3 4 5 6 7 8 9

In [17]:
for uday in range(5):
    print(uday)

0
1
2
3
4

In [18]:
list1 =['Python','uday','ashish','ajinkya','anteshwar','Babli','Trupti','Amrish']

for name in list1:
    print(name)

Python
uday
ashish
ajinkya
anteshwar
Babli
Trupti
Amrish

In [22]:
for i in range(len(list1)):
    print(i,list1[i])

0 Python
1 uday
2 ashish
3 ajinkya
4 anteshwar
5 Babli
6 Trupti
7 Amrish

In [23]:
years = [2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010

In [26]:
for i in range(len(years)):
    print(i,years[i])

0 2001
1 2002
2 2003
3 2004
4 2005
5 2006
6 2007
7 2008
8 2009
9 2010

In [28]:
for i in range(10,21):   #n-1 = 21-1 = 20
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [35]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [30]:
x= 'Hello world'
print(x)

Hello world

In [32]:
x[::2]

'Hlowrd'

In [38]:
languages = ['Python','Java','javaScript','Kotlin','C','C++','Go','HTML',"CSS"]


for i in languages:
    print(i,end=',')

Python,Java,javaScript,Kotlin,C,C++,Go,HTML,CSS,

In [39]:
for i in range(-10,10):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [42]:
# wap to print table of 19.
x = 19

for i in range(1,11):
    print(x,'X',i,'=',x*i)     # 19x1=19, 19x2=38, 19x3=57

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [44]:
# wap to print table of 19.
x = int(input('Babli Enter your range:'))

for i in range(1,11):
    print(x,'X',i,'=',x*i)     # 19x1=19, 19x2=38, 19x3=57

Babli Enter your range: 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [48]:
# 2nd mthod

num1 = int(input('Enter any value:'))

for i in range(1,11):
    print('%dX%d=%d'%(num1,i,num1*i))

Enter any value: 19

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [49]:
num2= int(input('Enter any value:'))

for i in range(1,11):
    print(f'{num2}X{i}={num2*i}')

Enter any value: 19

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [50]:
num3 = int(input('Enter any value:'))

for i in range(1,11):
    print('{}X{}={}'.format(num3,i,num3*i))

Enter any value: 20

20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200

In [56]:
# Take range from user and find their sum.

x = int(input('Enter any range:'))

sum1 = 0  # 0  # 1 # 3 
for i in range(1,x+1):
    sum1 = sum1+i # 6+4 =10
    print(sum1)

Enter any range: 10

1
3
6
10
15
21
28
36
45
55

In [62]:
# 2nd method
y = int(input('Enter any value:'))

sum2 = 0
for n in range(1,y+1):
    sum2+=n
print(sum2)

Enter any value: 1000

500500

In [68]:
# average= sum of total number/total number of observation.

# 2nd method
y = int(input('Enter any value:'))

sum2 = 0
avg = 0
for n in range(1,y+1):
    sum2+=n
    avg = sum2/n
print("Total sum of the range:",sum2,"\nTotal Average of the range:",avg)

Enter any value: 100

Total sum of the range: 5050
Total Average of the range: 50.5

In [74]:
# Find the even number from user input range.

num3 = int(input('Enter your range:'))

for i in range(1,num3+1):
    if i%2==0:
        print(i)

Enter your range: 10

2
4
6
8
10

In [76]:
# Find the even number from user input range.

num3 = int(input('Enter your range:'))

for i in range(1,num3+1):
    if i%2!=0:
        print(i)

Enter your range: 100

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [82]:
# wap to take range from user and find their sum of even only.

num4 = int(input('Enter any range:'))
sum4 = 0
list1 = []
for i in range(1,num4+1):
    if i%2==0:
        list1.append(i)
        sum4 = sum4+i
        # print(i)


print('List of Even Number:',list1,'\nSum of even number is:',sum4)

Enter any range: 100

List of Even Number: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Sum of even number is: 2550

# for-else

In [84]:
x = 10

for i in range(1,x+1):
    print(i)

else:
    print(f'These are the data from 1 to {i}')

1
2
3
4
5
6
7
8
9
10
These are the data from 1 to 10

In [88]:
# contorl Break and continue

for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [96]:
# continue


for i in range(10,20+1):
    if i==15:
        continue
    print(i)
    print('Hello')

10
Hello
11
Hello
12
Hello
13
Hello
14
Hello
16
Hello
17
Hello
18
Hello
19
Hello
20
Hello

# While

In [97]:
startval= 1

endval = 10

# while condition:
#     statement
#     iterationval

while startval<endval:
    print(startval)
    startval+=1

1
2
3
4
5
6
7
8
9

In [100]:
val=10
while val<50:
    print(val)
    val+=5

10
15
20
25
30
35
40
45

In [103]:
# write a program to display table using while loop

# 21 

table = 21
x = 1
while x<11:
    print(table,'X',x,'=',table*x)
    x+=1

21 X 1 = 21
21 X 2 = 42
21 X 3 = 63
21 X 4 = 84
21 X 5 = 105
21 X 6 = 126
21 X 7 = 147
21 X 8 = 168
21 X 9 = 189
21 X 10 = 210

In [104]:
# 10-1

i = 10

while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [110]:
nlis = [10,20,50,552,55,8,8,55,6,6,5,56,5,5]

# print the data even number usin while.
x = 0
while x<len(nlis):
    if nlis[x]%2==0:
        print(nlis[x])
    x+=1

10
20
50
552
8
8
6
6
56

In [119]:
nlis = [10,20,50,552,55,8,8,55,6,6,5,56,5,5]


while True:
    for i in range(len(nlis)):
        if nlis[i]%2==0:
            print(nlis[i],end=' ')
    break

10 20 50 552 8 8 6 6 56